h1{
    color: #e9e9e9;
    font-size: 3rem;
    text-shadow: 0 0 px #ffffff;
}

.fotoC{
    width: 400px;
    height: 500px;
    transition: all 0.5s;
    z-index: 3;
    box-shadow: 0 0 10px black;
}
.Games{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 130px;
    padding-top: 80px;
}
.capa{
    text-align: center;
}

.legenda{
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 10px;
    text-shadow: 0 0 10px rgb(23, 194, 23);
}
.titulo{
    padding-left: 25px;
    padding-bottom: auto;
    padding-top: auto;
    color: rgb(32, 0, 193);
}
.subtitulo{
    color: rgb(255, 255, 255);
    padding-left: 20px;
}

.fotoC:hover{
    filter: brightness(1.1);
    transform: scale(1.1);
    box-shadow: 0 0 40px rgba(0, 0, 255, 0.663);
    cursor: pointer;
}
.fotoC:active{
    filter: brightness(0.4);
    transform: scale(0.9);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.663);
    cursor: pointer;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-start;

    background: rgba(0, 0, 0, 0.5); /* fundo semi-transparente really :(*/
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(50px);

    z-index: 1000;
}

body{
    background: linear-gradient(
        135deg,
        #100f2a,
        #1e293b,
        #312e81
    );

    min-height: 100vh;
    color: white;
    font-family: Arial, sans-serif;
}
.logo{
    width: 50px;
    height: 50px;
    padding-top: 18px;
    padding-left: 10px;

}

.btn{
    height: 60px;
    width: 150px;
    margin: 2px;
    border: rgb(81, 81, 81);
    background-color: rgb(211, 211, 211);
    border-style: double;
    font-size: 22px;
    transition: all 0.1s;
    z-index: 3;
}

.btn:hover{
    filter: brightness(1.1);
    transform: scale(1.1);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.663);
    cursor: pointer;
}
.btn:active{
    filter: brightness(0.8);
    transform: scale(0.8);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.663);
    cursor: pointer;
}

.input-wrapper{
    display: flex;
    flex: auto;
}

/* DE CIMA É O INDEX */

/* Login */
.Sec-Login-tabela{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    background-color: black;
    width: 500px;
    height: 500px;
    padding: 10px;
    border-style: groove;
    background-color: rgb(207, 207, 207);
}

.buttn-login {
  font-size: 18px;
  background-color: #008542;
  color: #ffffff;
  text-shadow: 0 2px 0 rgb(0 0 0 / 25%);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 0;
  z-index: 1;
  user-select: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1.0px;
  padding: 0.8rem 1.5rem;
  font-weight: 900;
  min-width: 190px;
  transition: all 0.7s cubic-bezier(0, 0.8, 0.26, 0.99);
}

button {
  font-size: 18px;
  background-color: #008542;
  color: #ffffff;
  text-shadow: 0 2px 0 rgb(0 0 0 / 25%);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 0;
  z-index: 1;
  user-select: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1.0px;
  padding: 0.8rem 1.5rem;
  font-weight: 900;
  min-width: 190px;
  transition: all 0.7s cubic-bezier(0, 0.8, 0.26, 0.99);
}
button:before {
  position: absolute;
  pointer-events: none;
  top: 0; left: 0;
  display: block;
  width: 100%; height: 100%;
  content: "";
  transition: 0.7s cubic-bezier(0, 0.8, 0.26, 0.99);
  z-index: -1;
  background-color: #008542 !important;
  box-shadow: 0 -4px rgb(21 108 0 / 50%) inset,
    0 4px rgb(100 253 31 / 99%) inset,
    -4px 0 rgb(100 253 31 / 50%) inset,
    4px 0 rgb(21 108 0 / 50%) inset;
}
button:after {
  position: absolute;
  pointer-events: none;
  top: 0; left: 0;
  display: block;
  width: 100%; height: 100%;
  content: "";
  box-shadow: 0 4px 0 0 rgb(0 0 0 / 15%);
  transition: 0.7s cubic-bezier(0, 0.8, 0.26, 0.99);
}
button:hover:before {
  box-shadow: 0 -4px rgb(0 0 0 / 50%) inset,
    0 4px rgb(255 255 255 / 20%) inset,
    -4px 0 rgb(255 255 255 / 20%) inset,
    4px 0 rgb(0 0 0 / 50%) inset;
}
button:hover:after { box-shadow: 0 4px 0 0 rgb(0 0 0 / 15%); }
button:active { transform: translateY(4px); }
button:active:after { box-shadow: 0 0px 0 0 rgb(0 0 0 / 15%); }



.butões-reg{
margin-left: auto;
margin-right: 15px;
margin-top: auto;
margin-bottom: auto;
}

.Sec-Cadastro-tabela{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    background-color: black;
    width: 500px;
    height: 500px;
    padding: 10px;
    border: cyan;
    border-radius: 5px;
    border-width: 12px;
    border-style:ridge;
    background-color: rgb(207, 207, 207);
}
.Sec-Login-tabela{
    display: flex;
    flex: center;
}

.label-cad{
    color: black;
}
.cad-ult-button{
    margin-top: 20px;
    height: 60px;
    width: 150px;
    
}

.form-cad-login{
 margin-top: 5px;   
}
.form-cad-senha{
     margin-top: 5px; 
}
.form-cad-nome{
    margin-top: 5px;  
} 
.form-cad-email{
     margin-top: 5px; 
     margin-bottom: 12px;
}

input{
    width: 350px;
    height: 20px;
}

/* From Uiverse.io by adamgiebl */ 
.input-wrapper input {
  background-color: #5f5757;
  border: none;
  padding: 1rem;
  font-size: 3rem;
  width: 16rem;
  border-radius: 1rem;
  color: lightcoral;
  box-shadow: 0 0.4rem #2c2a2a;
  cursor: pointer;
  margin-left: auto;
}
}

.input-wrapper input:focus {
  outline-color: lightcoral;
}